.form {
    position: absolute;
    top: 100px;
    left: 200px;
}

.id {
    width: 80px;
    border: solid teal 2px;
}

.textarea {
    height:50px;
    border: solid;
    overflow: auto;
}

.textbutton {
    background-color: #73A9AD;
    position: relative;
    left: 3px;
    bottom: 6px;
}
