table {
    border: 3px solid #614124;
    table-layout: fixed;
    border-collapse: collapse;
    width: 50vmin;
    height: 30vmin;
}

th, td {
    border: 1px solid #A25B5B;
    padding: 0px;
    font-size: 2vmin;
}

th {
    background-color: #A27B5C;
}

td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-button {
    color: white;
    background-color: #809A6F;
    width: 12vmin;
    height: 5vmin;
    padding: 0;
}

td:nth-child(1) {
    max-width: 10vw;
}

td:nth-child(2) {
    max-width: 10vw;
}

td:nth-child(3) {
    max-width: 20vw;
}
