.good-bad {
    position: relative;
    top: 18vh;
    left: 10vw;
    font-size: 5vmin;
}

.good {
    color: slateblue;
    position: absolute;
    top: -3vh;
}

.bad {
    color: tomato;
    position: absolute;
    top: -3vh;
    left: 10vw;
}
