.reply {
    position: relative;
    top: 30vh;
}

.reply textarea {
    resize: none;
    position:relative;
    width: 24vw;
    height: 7vh;
}

.reply p {
    position: relative;
    text-align: center;
    font-size: 2vmin;
    width: 7vw;
    height: 5vh;
    bottom: 9.5vh;
    left: 26vw;
    border: 2px solid black;
    line-height: 2.3;
}

.reply-list {
    position: relative;
    word-break: break-all;
    bottom: 6vh;
    width: 32vw;
    padding: 3px;
    border: 2px solid rgb(94, 72, 72);
}

.reply-list .userId {
    font-size: 15px;
    padding-top: 5px;
    color: #7a6464;
}

.reply-list .remove-Icon {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 1.5rem;
    color: #ba3636;
}

.reply-list .reply-boundary {
    border: 1px solid gray;
    width: 32vw;
    margin-bottom: 2px;
    margin-left: -3px;
}
