.view {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 500px;
    height: 500px; 
    border: 2px solid teal;
}

.view .view-boundary {
    border: 1px solid black;
}

.view button:nth-of-type(1) {
    position: absolute;
    bottom: 6px;
    right: 75px;
}

.view button:nth-of-type(2) {
    position: absolute;
    bottom: 6px;
    right: 3px;
}
